body {
	font-size: 1.2em;
	color: #333;
	font-family: 'Open Sans Condensed', sans-serif;
}

body {
	
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, rgba(250,248,245,1), rgba(255,255,255,1));
	
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, rgba(250,248,245,1), rgba(255,255,255,1));
	
	/* Chrome 7+ & Safari 5.03+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(250,248,245,1)), color-stop(1, rgba(255,255,255,1)));
	
	background-repeat: no-repeat; 
	background-color: #fff; 

	margin-bottom: 5em;
}

header {
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, rgba(100,100,100,1), rgba(50,50,50,1));
	
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, rgba(100,100,100,1), rgba(50,50,50,1));
	
	/* Chrome 7+ & Safari 5.03+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(100,100,100,1)), color-stop(1, rgba(50,50,50,1)));
	
	background-repeat: no-repeat; 
	background-color: rgb(40,40,40);
	
	padding: 1em 0;
	margin: 0 0 3em 0;
	
	border-bottom: 5px solid rgb(60, 75, 100); 

	-webkit-box-shadow: 0 0 35px #5f8a7d;
	-moz-box-shadow: 0 0 35px #5f8a7d;
	-o-box-shadow: 0 0 35px #5f8a7d;

	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;*/
}
	
header h1 {
	margin: 0 20px;
	line-height: 2em;
	font-size: 110%;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}

p {
	margin: 0 0 1em 0;
	line-height: 1.5em;
}

section h1 {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 1em 0; 
	color: #59c; 
	text-shadow: 0 0 5px #fff;
}

section {
	margin: 0 20px 3em 20px;
}
	
dd, dt {
	margin: 0.5em 0; }

dd {
	color: #999; }

ul.links li {
	position: relative; 
	margin: 0 0 1em 0; }
	
	ul.links li .icon {
		position: absolute;
		top: 0;
		left: -2em; 
		width: 16px;
		height: 16px; 
		background: transparent url('/img/sprite-icon.png') no-repeat top left;
		text-indent: -10000px;
	}

	ul.links li .icon.gp { background-position: 0px -00px; }
	ul.links li .icon.li { background-position: 0px -16px; }
	ul.links li .icon.em { background-position: 0px -32px; }
		
a {
	color: rgb(85, 153, 204);
	text-decoration: none; }
	
a:hover {
	background-color: rgba(85, 153, 204, 0.1);
	text-decoration: none; 
}

ul.bullet li {
	position: relative;
	margin: 0 0 0 2em;
	line-height: 1.5em;
}
ul.bullet li:before {
	position: absolute;
	left: -1.0em;
	display: block;
	font-weight: bold;
	content: "-";
	color: #aaa;
	width: 1em;
	height: 100%;
}
h2 {
	margin: 1em 0;
	font-weight: bold;
}
h2 span.date-range {
	font-size: 80%;
	color: #999;
}

p.sub {
	font-size: 80%;
	color: #777;
}