-extends "layout/base.haml"
-block content
    %section.about
        %h1 << Ben
        %p
            Ben is a man of many talents and great intrigue. In the still of the morning, when maybe you heard a whispered word from over the next horizon &ndash; it was his name that was spoken. When errant spelling is mysteriously corrected, or a documentary ridiculed for poor scientific accuracy, then he is your suspect. When a flock of birds changes direction suddenly, or several outstanding bugs in an issue tracker are resolved &ndash; then it is he you should consider responsible.

    %section.links
        %h1 << Further Reading
        %ul.links
            %li
                %span.icon.gp << Google+
                %a \
                    href="//plus.google.com/106149912329040737914?rel=author" \
                    rel="author" target="_blank" 
                    Google+ Profile
            %li
                %span.icon.li << LinkedIn
                %a \
                    href="//www.linkedin.com/profile/view?id=79501528" \
                    rel="me" target="_blank"
                    LinkedIn Profile
            %li
                %span.icon.em << Email
                bgraham / at / bgraham.com.au