{% extends "layout/base.html" %}
{% block content %}
<section class="package-control">
	<h1>Install Package Control</h1>
	<p>
		The apt-get of ST2. Paste the following in the ST2 console (<span class="key">Ctrl</span>+<span class="key">~</span>):
	</p>
	<div class="syntax-wrap"><pre class="brush: python code">import urllib2,os
pf='Package Control.sublime-package'
ipp=sublime.installed_packages_path()
os.makedirs(ipp) if not os.path.exists(ipp) else None
urllib2.install_opener(urllib2.build_opener(urllib2.ProxyHandler()))
open(os.path.join(ipp,pf),'wb').write(urllib2.urlopen('http://sublime.wbond.net/'+pf.replace(' ','%20')).read())
print 'Please restart Sublime Text to finish installation'</pre></div>
	<p>
		Full installation details are here: <a href="http://wbond.net/sublime_packages/package_control/installation">http://wbond.net/sublime_packages/package_control/installation</a>
	</p>
</section>
<section class="install-package">
	<h1>Install a Package</h1>
	<p>
		Hit <span class="key">Ctrl</span>+<span class="key">Shift</span>+<span class="key">P</span> and type 'install <span class="key">Enter</span>'. Then, type (part of) a package name, and <span class="key">Enter</span> again.
	</p>
</section>
<section class="discover-package">
	<h1>Discover Packages</h1>
	<p>
		Although you can browse through the autocomplete list when installing a package, there's also a HTML version: <a href="http://wbond.net/sublime_packages/community">http://wbond.net/sublime_packages/community</a>
	</p>
</section>
<section class="recommended-package">
	<h1>Recommended Packages</h1>
	<h2>SublimeOnSaveBuild</h2>
	<p>
		I use this to trigger our build system to turn SASS into CSS. Create <span class="inline-code">~/.config/sublime-text-2/Packages/User/Phing-Sass.sublime-build</span> with the following:
	</p>
<div class="syntax-wrap"><pre class="brush: python code">{
"cmd": ["phing", "build-sass"],
"working_dir": "$project_path"
}</pre></div>
	<p>
		In ST2, go Tools&rarr;Build System&rarr;Phing-Sass
	</p>
	<h2>SublimeLinter</h2>
	<p>
		This says why your code is dumb. I have:
	</p>
<div class="syntax-wrap"><pre class="brush: js code">// ~/.config/sublime-text-2/Packages/User/SublimeLinter.sublime-settings
{
// python errors to ignore.
// see https://github.com/jcrocholl/pep8/blob/master/pep8.py
"pep8_ignore":
[
    "E501",
    "W191"
],

// Set to true to highlight annotations
"sublimelinter_notes": true
}
</pre></div>
	<h2>LiveReload</h2>
	<p>
		This refreshes the browser on save. For CSS, the page need not reload. Awesome. Your browser will need a LiveReload plugin (<a href="https://chrome.google.com/webstore/detail/jnihajbhpnppcggbcgedagnkighmdlei">https://chrome.google.com/webstore/detail/jnihajbhpnppcggbcgedagnkighmdlei</a>).
	</p>
	<p>
		You will need to give phing time to run its sass&rarr;css target:
	</p>
<div class="syntax-wrap"><pre class="brush: js code">// ~/.config/sublime-text-2/Packages/User/LiveReload.sublime-settings:
{
"delay_ms" : 1000
}
</pre></div>
	</section>
{% endblock content %}