<!DOCTYPE html>
%html lang="en"
	%head
		-block head
			-include 'layout/head.haml'
	%body
		%header
			-block header
				-include 'layout/header.haml'
		%div.container
			%div.main
				-block content
		-block js_body
			%script
				loadscript({% assets "js_syntax" %}'{{ ASSET_URL }}'{% endassets %}, function(){
					SyntaxHighlighter.highlight();
				});
				loadscript('//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js', function(){
					$('section.goodreads .load').load('/xhr/books/');
				});
		%footer
			-block footer
				-include 'layout/footer.haml'
