%div.container
	%div.fourteen.columns.main-column
		%h1 << bgraham.com.au
%nav
	%h2 << Navigation
	%div.container
		%div.fourteen.columns.main-column
			%ul
				%li -> %a href="/" << Home
				%li -> %a href="/resume/" << Resume
				%li -> %a href="/tech/" << About