%div.container
	%div.main
		%h1 << bgraham.com.au
%nav
	%h2 << Navigation
	%div.container
		%div.main
			%ul
				%li -> %a href="/" << Home
				%li -> %a href="/resume/" << Resume
				%li -> %a href="/tech/" << About