%meta charset="utf-8"
-block css
    {% assets "css_common" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
    {% assets "css_syntax" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %} 

%link rel="openid.server" href="http://www.myopenid.com/server"
%link rel="openid.delegate" href="http://blackwater.myopenid.com/"
%link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
-block js_head
    <!--[if lt IE 9]>
        %script src="{{ url_for('static', filename='js/html5shiv.js') }}"
    <![endif]-->
%script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15595532-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
%script
    /* Steve Souders - http://www.stevesouders.com/blog/ */
    /* Dustin Diaz - http://www.dustindiaz.com/scriptjs/ */
    window.loadscript=function(){if(!arguments.length)return;var a=document.getElementsByTagName("head")[0];var b=null;var c=0;var d=0;for(var e=0,f=arguments.length;e<f;e++){var g=arguments[e];if(typeof g==="function"){b=g;c=e;break}var h=document.createElement("script");h.type="text/javascript";h.onload=h.onreadystatechange=function(){if(h.readyState&&h.readyState!=="complete"&&h.readyState!=="loaded")return false;h.onload=h.onreadystatechange=null;d++;if(b!=null&&d===c)b()};h.async=true;h.src=g;a.appendChild(h)}}
%title
    -block title
        bgraham.com.au